* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
}

h1, h2, h3, p, table, pre { 
    margin-left: 20px;
    margin-right: 20px;
}

a img {
    border: 0;
}

div.iteminfo { 
    margin: 0 20px;
    border: 1px solid #000;
    height: 300px;
}

div.image {
    float: left;
    padding-top: 20px;
    width: 200px;
    text-align: center;
    margin: auto;
}

div.metadata {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 20px;
    background: #fff;
    border: 1px solid #000;
}

/* デバッグ用 */
pre {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #000;
}

/* 書籍一覧 */
ul {
    margin-left: 20px;
    margin-right: 20px;
}

ul li {
    display: block;
    float: left;
    width: 120px;
    border: 1px #000 solid;
    text-align: center;
    font-size: small;
}

h3 {
    clear: both;
}

